# SSH Connection (ENCS)
SSH_HOST=login.encs.concordia.ca
SSH_PORT=22
SSH_USER=[USERNAME]
SSH_PASSWORD=[PASSWORD]

# MySQL Connection
DB_HOST=[...].encs.concordia.ca
DB_PORT=3306
DB_USER=[...]
DB_PASSWORD=[PASSWORD]
DB_NAME=[...]

# Server
PORT=3000
